body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    background-image: url("https://images.unsplash.com/photo-1533628635777-112b2239b1c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}

h1 {
    color: #f75d5d;
}

h2 {
    color: #f75d5d;
    margin-bottom: 10px;
    margin-top: 25px;
}

ul {
    margin-top: 0px;
}

.desc {
    font-size: 14px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.period {
    font-style: italic;
    color: #888888;
}

.business, .school {
    font-weight: bold;
}

[class*="col-"] {
    display: inline-block;
    margin-left: -5px;
    margin-right: -5px;
}

.col-12 {
    width: 100%;
}

#name {
    font-weight: bold;
    font-size: 20px;
}

#session1 .desc p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#session1 #image-container {
    text-align: center;
}

#session1 #image-container img {
    width: 40%;
    margin-bottom: 20px;
    border-radius: 50%;
}

#session4 {
    background-image: url("https://images.unsplash.com/photo-1516796181074-bf453fbfa3e6?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

#session3 {
    background-image: url("https://images.unsplash.com/photo-1486010586814-abd061e90cf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
    background-attachment: fixed;
}

#session2 {
    background-color: #00FF00;
}

@media (min-width: 768px) {
    .col-md-4 {
        width: calc( 100% * 4 / 12 );
    }

    .col-md-8 {
        width: calc( 100% * 8 / 12 );
    }

    .col-md-12 {
        width: 100%;
    }

    h1 {
        vertical-align: top;
        margin-top: 0px;
    }

    h2 {
        margin-top: 0px;
        vertical-align: top;
    }

    ul {
        padding-inline-start: 15px;
    }

    .desc {
        margin-bottom: 15px;
        padding-top: 5px;
        border-top-color: #000000;
        border-top-width: 2px;
        border-top-style: solid;
    }

    #session1 #image-container img {
        margin-bottom: 0px;
    }

    #session1 .desc .col-md-8 {
        vertical-align: top;
    }
}