body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

h1 {
    color: #f75d5d;
}

h2 {
    color: #f75d5d;
    margin-bottom: 10px;
    margin-top: 25px;
}

ul {
    margin-top: 0px;
}

#name {
    font-weight: bold;
    font-size: 20px;
}

.desc {
    font-size: 14px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
}

#session1 .desc p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.period {
    font-style: italic;
    color: #888888;
}

.business, .school {
    font-weight: bold;
}

.col-12 {
    width: 100%;
}

@media (min-width: 768px) {
    [class*="col-"] {
        margin-right: -5px;
    }

    .col-md-4 {
        width: calc( 100% * 4 / 12 - 31px );
    }

    .col-md-8 {
        width: calc( 100% * 8 / 12 - 31px );
    }

    .col-md-12 {
        width: 100%;
    }

    h2 {
        margin-top: 0px;
        vertical-align: top;
    }

    ul {
        padding-inline-start: 15px;
    }

    .desc {
        margin-bottom: 15px;
        padding-top: 5px;
        border-top-color: #000000;
        border-top-width: 2px;
        border-top-style: solid;
    }

    #session1 .desc,
    .desc .desc {
        margin-bottom: 5px;
        padding-top: 0px;
        border-top-style: none;
    }
}